{{!< default}}

{{#post}}
    <article class="page-works-show {{post_class}}">
        {{> material-cover}}
        <div class="profile-container animated fade-in">
            <div class="post-card animated">
                <div class="post-container">
                    <div id="content-box">
                        {{#if tags}}
                            <nav class="works-show-tags">
                                {{#foreach tags}}
                                    {{#if @index}}
                                        <a href="javascript:;" title="{{name}}" class="{{slug}} tag tag-{{id}}">{{name}} <span>（99+）</span></a>
                                    {{else}}
                                        <a href="javascript:;" title="{{name}}" class="{{slug}} tag tag-{{id}} works-show-active">{{name}} <span>（99+）</span></a>
                                    {{/if}}
                                {{/foreach}}
                            </nav>
                        {{/if}}
                    </div>
                    <h1 style="display: none;text-align: center">请在PC端查看！</h1>
                </div>
            </div>
        </div>
    </article>
{{/post}}
