{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    {{> material-cover}}
    <div class="post-card animated fade-in">
        <a id="back-button" href="#open" title="Go back" class="hvr-grow">
            <div class="back-button">
                <i class="fa fa-arrow-left"></i>
            </div>
        </a>
        <div class="post-container">
            <div class="post-header">
                <div class="meta">
                    <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="YYYY-MM-DD"}}</time>
                    <span class="tags">{{tags prefix="in " separator=" "}}</span>
                    <span class="reading-time"> ~ <span></span> read.</span>
                </div>
                <h1 id="post-title">
                    {{{title}}}
                </h1>
                <div class="share">
                    {{> share }}
                </div>
            </div>
             <div class="post-content">
                {{content}}
            </div>

            <p class="tags" style="display: inline-block;width: 98%;margin-top: 25px;padding: 10px;box-shadow: 1px 6px 10px rgba(0,0,0,.3);">
                标签云：
                {{#get "tags"}}
                    {{#foreach tags}}
                        <a href="/tag/{{slug}}">{{name}}</a>
                        <span> | </span>
                    {{/foreach}}
                {{/get}}
            </p>


            {{> changyan-comment}}
        </div>
    </div>
  </article>

{{/post}}
